.jumbotron {
  padding-top: 6rem;
  background-color: #ccfdce;
}

#skill {
  background-color: #ccfdce;
}

#contact {
  background-color: #ccfdce;
}

section {
  padding-top: 5rem;
}

/* ul {
  list-style-type: none;
} */
